<div class="container">
  <h1>Update Center</h1>

  <a href="#" routerLink="/center/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="branch">Branch:</label>
      <input
        formControlName="branch"
        id="branch"
        type="text"
        [(ngModel)]="center.branch"
        class="form-control">
      <div *ngIf="f['branch'].touched && f['branch'].invalid" class="alert alert-danger">
        <div *ngIf="f['branch'].errors && f['branch'].errors['required']">Branch is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="company_name">Company</label>
      <textarea
        formControlName="company_name"
        id="company_name"
        type="text"
        [(ngModel)]="center.company_name"
        class="form-control">
            </textarea>
      <div *ngIf="f['company_name'].touched && f['company_name'].invalid" class="alert alert-danger">
        <div *ngIf="f['company_name'].errors && f['company_name'].errors['required']">Company is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>
